.LoginPrompt {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  padding: 2.5rem;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-radius: 7px;
  box-shadow: 0 0 3px #d6d6d6;
}

.LoginPrompt .Header {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.LoginPrompt .InputWrapper {
  margin-bottom: 2.5rem;
}

.LoginPrompt button {
  align-self: flex-end;
}
