.Button {
  padding: 0.75rem 2.1875rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  background-color: #ff8203;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.Button:not(:disabled):active,
.Button:not(:disabled):hover {
  filter: brightness(110%);
}

.Button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
