body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body,
#container,
#container > div {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

@media (pointer: coarse) and (hover: none) {
  html {
    font-size: 19px;
  }
}
